<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Ph.D student in Electrical Engineering</h1>
            <span>Lab INL, INSA-Lyon</span>
            <span><address>Lyon, France</address><time>Oct 2012 - Present</time></span>
        </header>
        <p>
            <em>Research focuses on nanostructure fabrication, optical simulation and its applications. </em>
        </p>
    </article>
    <article>
        <header>
            <h1>M.S. in Physics</h1>
            <span>Chinese Academy of Sciences</span>
            <span><address>ChangChun, P.R.China</address><time>Sept 2009 - Jan 2012</time></span>
        </header>
        <p>
            <em>Main courses: Optics, Semiconductor Physics.</em>
		</p>
		<p>
		<em>Research focused on upconversion material fabrication and fiber-optic biosensor.</em>
        </p>
    </article>
    <article>
        <header>
            <h1>B.E. in Electronic Science and Technology</h1>
            <span>Jilin University</span>
            <span><address>ChangChun, P.R.China</address><time>Sept 2005 - Jul 2009</time></span>
        </header>
        <p>
            <em>Main courses: Mathematics, Physics, Computer Science, Chemistry.</em>
        </p>
    </article>
</section>
