<section class="thirteen columns">
    <h1>Publications</h1>
		<article>
        <header>
            <h1>Journals</h1>
		</header>
			<ul style = "list-style-type:disc" class="space">
				<li> <u>J. Liu</u>, L. Lalouat, E. Drouard, etc., <em>Binary coded patterns for photon control using necklace problem concept</em>, Opt. Express, 2016.</li>
				<li> <u>J. Liu</u>, P. Kleimann, etc., <em>Formation of 300 nm period pore arrays by laser interference lithography and electrochemical etching.</em> Appl. Phys. Lett., 2015. 
				</li>
				<li><u>J. Liu</u>, X. Liu, etc., <em>Controlled synthesis, formation mechanism and upconversion luminescence of NaYF4: Yb, Er nano-/submicrocrystals via ionothermal approach.</em> Journal of Solid State Chemistry, 2012.
				</li>
				<li>W. Chen, R. Cariou, <u>J. Liu</u>, etc., <em>Nanophotonics-based low temperature PECVD epitaxial crystalline silicon solar cells.</em> Journal of Physics D, 2016.
				</li>
				<li>C. Trompoukis, <u>J. Liu</u>, etc., <em>Photonic nanostructures for advanced light trapping in thin crystalline silicon solar cells.</em> Phys. Status Solidi A, 2014.
				</li>

		</ul>
    </article>
	<article>
		<header>
			<h1>Conferences</h1>
		</header>
			<ul style = "list-style-type:disc" class="space">
				<li> <u>J. Liu</u>, Régis Orobtchouk, etc., <em>Simulations Optiques et Fabrication de Nanostructures Périodiques pour la Microfluidique et le Photovoltaïque.</em> Journées Nationales du Réseau Doctoral en Micro-nanoélectronique, 2015.
				</li>
				<li> <u>J. Liu</u>, E. Drouard, L. Lalouat, etc., <em>Light Trapping in Thin Film Silicon with Pseudo-disordered Binary Structure</em>, GDR Ondes, 2015.
				<li>V. Depauw, <u>J. Liu</u>, etc., <em>Nanophotonics for Ultra-Thin Crystalline Silicon Photovoltaics: When Photons (Actually) Meet Electrons.</em> 29th European Photovoltaic Solar Energy Conference and Exhibition, 2014.
				</li>
				<li>H. Ding, <u>J. Liu</u>, etc., <em>Light trapping in holes or pyramid patterns for thin film solar cells.</em> Photovoltaic Technical Conference, 2014.
				</li>
			</ul>

	</article>
</section>
