<section class="thirteen columns">
    <h1>Publications</h1>
		<article>
        <header>
            <h1>Journals</h1>
		</header>
			<ul style = "list-style-type:disc" class="space">
				<li>J. Liu, P. Kleimann, etc.<em>Formation of 300 nm period pore arrays by laser interference lithography and electrochemical etching.</em> Appl. Phys. Lett., 2015. 
				</li>
				<li>C. Trompoukis, etc. <em>Photonic nanostructures for advanced light trapping in thin crystalline silicon solar cells.</em> Phys. Status Solidi A, 2014.
				</li>
				<li>J. Liu, etc. <em>Controlled synthesis, formation mechanism and upconversion luminescence of NaYF4: Yb, Er nano-/submicrocrystals via ionothermal approach.</em> Journal of Solid State Chemistry, 2012.
				</li>
		</ul>
    </article>
	<article>
		<header>
			<h1>Conferences</h1>
		</header>
			<ul style = "list-style-type:disc" class="space">
				<li>J. Liu, Régis Orobtchouk, etc. <em>Simulations Optiques et Fabrication de Nanostructures Périodiques pour la Microfluidique et le Photovoltaïque.</em> Journées Nationales du Réseau Doctoral en Micro-nanoélectronique, 2015.
				</li>
				<li>V. Depauw, J. Liu, etc. <em>Nanophotonics for Ultra-Thin Crystalline Silicon Photovoltaics: When Photons (Actually) Meet Electrons.</em> 29th European Photovoltaic Solar Energy Conference and Exhibition, 2014.
				</li>
				<li>H. Ding, J. Liu, etc. <em>Light trapping in holes or pyramid patterns for thin film solar cells.</em> Photovoltaic Technical Conference, 2014.
				</li>
			</ul>

	</article>
</section>
