<section class="thirteen columns">
    <h1>RESEARCH EXPERIENCE</h1>
    <article>
        <header>
            <h1>INL Laboratory</h1>
            <span><address>Lyon, France</address><time>Oct 2012 - Present</time></span>
        </header>
		<ul style = "list-style-type:disc" class="space">
			<li>Developed <a href="http://github.com/insaliujia/MatRCWA" target="_blank">Rigorous Coupled Wave Analysis (RCWA) </a>Matlab code with object-oriented programming (OOP) method to model the optical response of nanostructures in wavelength scale.
			</li>
			<li>Developed Finite Difference Frequency Domain (FDFD) Matlab code to simulate the behavior of electromagnetic waves in 2D photonic crystal structures.
			</li>
			<li>Developed <a href="http://github.com/insaliujia/ParticleSwarmOpt" target="_blank">Particle Swarm Optimization (PSO)</a> and <a href="http://github.com/insaliujia/GeneticAlgorithmOpt" target="_blank">Genetic Algorithm (GA) </a>code to auto-design the photonic crystal structures.
			</li>
			<li>Proposed and developed a novel method to auto-design diffraction grating to enhance photon control.
			</li>
			<li>Simulated laser interference lithography process.
			</li>
			<li>Fabricated anti-reflective coating structure for solar cell by using laser interference lithography, reactive-ion etching, wet etching, etc.
			</li>
		</ul>
    </article>
    <article>
        <header>
            <h1>CIOMP, Chinese Academy of Science</h1>
            <span><address>ChangChun, P.R.China</address><time>Sept 2009 - Jan 2012</time></span>
        </header>
		<ul style = "list-style-type:disc" class="space">
			<li>Used upconversion nanoparticles as a new fluorescent probe to build fiber-optic biosensor. 
			</li>
		</ul>
    </article>
</section>
