<section class="thirteen columns">
    <h1>Skills</h1>
    <article>
        <header>
            <h1>Programming</h1>
		</header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Matlab</em>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Python</em> 
        </p>
		<p>
			<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Fortran</em>, <em>Mathematica</em>
		</p>
    </article>
	<article>
		<header>
		<h1> Lab Skills </h1>
		</heaer>
		<p>Laser interference lithography, Reactive-ion etching (RIE), wet etching, SEM
		</p>
	</article>
	<article>
		<header>
		<h1> Languages </h1>
		</heaer>
		<p>
		<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
            &nbsp;&nbsp;<em>Chinese</em>
		</p>
		<p>
		<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>English</em>
		</p>
		<p>
		<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>French</em>
		</p>
	</article>
	<article>
		<header>
		<h1> Other Skills </h1>
		</heaer>
		<p>LaTeX, Microsoft Office, Sketchup, Blender, ImageJ, Linux
		</p>
	</article>
</section>
