<section class="thirteen columns">
    <h1>Skills</h1>
    <article>
        <header>
            <h1>Programming</h1>
		</header>
        <p>Numerical calculation (electromagnetic algorithm development and implementation).    
        </p>
	<p>Stochastic optimization.
	</p>
        <p>High performance computing (OpenMP).
	</P>
	<P>Data analysis and visualization.
	</P>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Matlab</em>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Python</em> 
        </p>
		<p>
			<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Fortran</em>, <em>Mathematica</em>
		</p>
		<p>
			<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Java, <em>HTML/CSS</em>, <em>SQL(SQLite)</em>, <em>R</em>
		</p>
    </article>
	<article>
		<header>
		<h1> Lab Skills </h1>
		</heaer>
		<p>Semiconductor device fabrication (Laser interference lithography, Reactive-ion etching (RIE), wet etching, SEM).
		</p>
	</article>
	<article>
		<header>
		<h1> Languages </h1>
		</heaer>
		<p>
		<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
            &nbsp;&nbsp;<em>Chinese</em>
		</p>
		<p>
		<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>English</em>
		</p>
		<p>
		<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>French</em>
		</p>
	</article>
	<article>
		<header>
		<h1> Other Skills </h1>
		</heaer>
		<p>LaTeX, Git, Microsoft Office, Linux, Sketchup, Blender, ImageJ
		</p>
	</article>
</section>
